<!DOCTYPE html>
<html>
<head>
	<title>recibo do deposíto</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="recib_deposito.css">
</head>
<body>
<div class="cabecario">
	<img src="cv.png" width="80" height="80">
	<h5>REPÚBLICA DE ANGOLA</h5>
	<H5>GOVERNO DA PROVíNCIA DE LUANDA</H5>
	<h5>MINISTÉRIO DA SAÚDE</h5>
	<h5>HOSPITAL XXXXXXXX XXXXXXX</h5>
</div>
<div>
	<div class="header">
		<H4>SECÇÃO DA MORGUE</H4>
		<H5>MODELO PARA LEVANTAMENTO DE CORPO</H5>
		
	</div>
	<div class="falecido">
		<b>Nome do falecido</b> xxxxxxxxx xxxxxxxx xxxxxxxxx
		<b>de </b>12
		<b> de idade</b>
		<b>sexo </b><span>m</span>
		<br>
		<b>Natural de </b><span>Luanda</span>
		<br>
		<b>Faleceu aos </b><span>03/09/2000</span> <b>Hora</b><span>00</span><b>hrs</b><span>00</span><b>mnt</b>
		<br>
		<b>Residente</b>
	</div>
	<div class="parentes">
		<b>filho de </b><span></span> <b>E de</b>
		<br>
		<b>Residente</b>
		<br>
		<b>Contacto familiar</b>
	</div>
	<div class="testemunha">
		<div class="header">
			<h5>TESTEMUNHAS</h5>
		</div>
		<b>Nome </b>
		<br>
		<b>BI</b>
		<br>
		<b>Residente</b>
		<br>
		<b>Local de Serviço</b>
		<br>
		<b>Contactos</b>

	</div>
	<div class="assinatura">
		<span style="float: left;">
			<b>Assinatura/famíliar</b><br>
			_________________________________
		</span>
		<span style="float: right;">
			<b>Assinatura/responsável</b><br>
			_________________________________
		</span>
	</div>
</div>
</body>
</html>